* {
    /* margin:0px; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
}

:root {
    /* Variables del Proyecto */

    /* Color */
    --black30: #000000;
    --black20: #42424233;

    --gray40: #212121;
    --gray30: #212429;
    --gray20: #424242;
    --gray10: #616161;

    --white10: #FFFFFF;
}
html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray20);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* Globales */
h1 {
    font-size: 60px;
    font-weight: 400;
}
h2 {
    font-size: 32px;
    font-weight: 400;
}
h3 {
    font-size: 24px;
    font-weight: 400;
}
p {
    font-size: 16px;
    line-height: 24px;
}
hr {
    margin: 64px 0px;
}

/* Hero (decoration) */
div.hero {
    /* background-image: linear-gradient(to top, #212325,  rgba(255, 255, 255, 0) ), url(../assets/images/pattern.svg); */
    /* background-image: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0) 43.49%), url(../assets/images/pattern.svg); */
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url(../assets/images/pattern.svg);
    /* background-repeat: repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    height: 350px;
    width: 100%;
}

/* Header */
.header-container {
    position: sticky;
    top: 0px;
    /* width: 30%; */
}
.header-wrapper {
    max-width: 208px;
    margin: auto;
    position: relative;
}
.header-content{
    padding: 0px 20px;
    width: 208px;
    position: absolute;
    top: 0;
    left: -577px;
    /* left: -232px; add (232+42+303) */
    /* left: 116px; */
}

/* Content */
header {
    font-size: 14px;
    color: var(--gray10);
}
header a {
    color: var(--gray10);
    text-decoration: none;
}
header a:hover {
    color: var(--gray40);
}
.content-title {
    margin-top: 64px;
    margin-bottom: 16px;
}
details {
    margin-bottom: 24px;
}
.content-subtitle {
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 24px;
}
.content-list li{
    margin-bottom: 16px;
}

/* Main */
.main-container {
    /* right: 116px; */
    /* width: 70%; */
}
.main-wrapper {
    max-width: 902px;
    margin: auto;
}
.main-content {
    padding: 0px 20px;
}

/* Blog introduction */
.blog-title {
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    color: var(--gray40);
}
.blog-description {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
    color: var(--gray40);
}
.blog-subtitle {
    margin-top: 64px;
    margin-bottom: 40px;
}

/* Sections */
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    position: relative;
    padding-bottom: 8px;
    /* position: sticky; */
    /* top: 0; */
}
.section-content h3::before {
    content: counter(titleList) ". ";    
}
.section-content h3::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(--gray20);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Setup */
/* .setup-img {
    margin-top: 40px;
    margin-bottom: 16px;
} */
.setup-title {
    margin-top: 16px;
    margin-bottom: 24px;;
}
.setup-description {
    margin-top: 16px;
    margin-bottom: 40px;
}
#github + p {
    margin-bottom: 0px;
}
/* .setup-description:last-of-type {
    margin-bottom: 0px;
}  */
blockquote {
    margin:0px;
    margin-top: 32px;
    margin-bottom: 64px;
    padding-left: 16px;
    border-left: 4px solid var(--gray40);
    /* font-family: 'Roboto', sans-serif; */
}
.blockquote-content {
    color: var(--gray20);
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.blockquote-author {
    color: var(--gray10);
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
}
.blockquote-author::before {
    content: '—';
}

/* Terminology */
.terminology-title {
    margin-top: 40px;
    margin-bottom: 24px;
}
.terminology-description {
    margin-top: 16px;;
    margin-bottom: 16px;
}
.terminology-img {
    width: 100%;
    max-width: 902px;
}
pre {
    background-color: #FEC62E;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding: 40px;
    max-width: 902px;
    font-size: 16px;
    margin: 0px;
    overflow: auto;
}

/* Box Model */
/* #box-model {
    margin-top: 220px ;
} */
.box-model-headline {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 24px;
}

h3.box-model-headline {
    counter-reset: titleList;
}
h3.box-model-headline {
    counter-increment: titleList;
    position: relative;
}
h3.box-model-headline::before {
    content:none;    
}
h3.box-model-headline::after {
    content:none;    
}
.box-model-title {
    margin-top: 40px;
    margin-bottom: 24px;;
}
.box-model-description {
    margin-top: 16px;
    margin-bottom: 16px;
}
.box-model-composition {
    line-height: 24px;
}
.box-model-properties li{
    margin-bottom: 16px;
}

/* Slider in box-model*/
.slider {
    /* border: 1px solid red; */
}
.slider-container {
    display: block;
    white-space: nowrap;
    /* overflow: auto; */
    overflow: hidden;
    font-size: 0px;
    scroll-behavior: smooth;
}
.slider-slide {
    /* display: inline-block; */
    /* width: 100%; */
}
.slider-slide iframe {
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-container {
    text-align: center;
    margin-block-start: 10px;
}
.slider-bullet {
    background-color: var(--black20);
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    border-radius: 50%;
}
.slider-bullet:active {
    background-color: var(--gray20);
}

/*Questions to email*/
.text-email-address {
    color: var(--black30);
    text-align: left;
}
.email-address {
    color: var(--gray20);
}

/* Form */
.newsletter-form-title {
    text-align: left;
}
.newsletter-form {
    text-align: left;
    position: relative;
}
.newsletter-form input {
    background-color: var(--white10);
    color: var(--black30);
    width: 100%;
    border: 1px solid var(--gray10);
    border-radius: 90px;
    box-sizing: border-box;
    padding: 12px 16px;;
    margin-bottom: 24px;
    font-size: 16px;
}
.newsletter-form ::-webkit-input-placeholder {
    color: var(--gray10);
}
.newsletter-form input[type="submit"] {
    color: var(--white10);
    background-color: var(--black30);
    border: 1px solid var(--black30);
    font-weight: 500;
    width: 120px;
    position: absolute;
    right: 0px;
}

/* Footer */
footer {
    background-color: var(--gray30);
    margin-top: 56px;
}
.footer-text {
    color: var(--white10);
    font-size: 32px;
    font-weight: 400;
    /* line-height: 38px; */
    padding: 48px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    margin-bottom: 19px;
}

.social-network-wrapper {
    margin-top: 19px;
}
.social-network-content {
    text-align: center;
    padding: 0px 0px 44px 0px; /*4 de a*/
}
.social-network-item {
    display: inline-block;
    text-decoration: none;
}
.social-network-item .iconify {
    width: 24px;
    height: 24px;
    padding: 0px 9px;
}







