:root {
    /* Variables del Proyecto */

    /* Color */
    --primary-color: #212121;
    --nav-color: #616161;
}

body {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

header {
    font-size: 14px;
    color: var(--nav-color);
}

header a {
    color: var(--nav-color);
    text-decoration: none;
}

header a:hover {
    color: var(--primary-color);
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 32px;

}

h3 {
    font-size: 34px;
}
