:root {
    /* Variables del Proyecto */

    /* Color */
    --gray30: #251F24;
    --gray20: #424242;
    --gray10: #3A3539;

    --white20: #A5A3A5;
    --white10: #FFFFFF;
        
    --blue10: #157EFB;
    
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--white10);
    font-family: 'Nunito', sans-serif;
    background-color: var(--gray30);
}

/* Globales */
h1 {
    font-size: 64px;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    font-weight: 700;
}
h3 {
    font-size: 32px;
    font-weight: 600;
}
p {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white20);
}
hr {
    border: 1px solid rgba(97, 97, 97, 0.2);
}

/* Hero */
div.hero {
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);;
    /* background-repeat: repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    block-size: 350px;
    inline-size: 100%;
}

/* Header */
.header-container {
    color: var(--white10);
}
.header-wrapper {
    margin: auto;
    max-inline-size: 208px;
}
.header-content{
}

/* General content */
header {
    font-size: 14px;
    color: var(--white10);
}
header a {
    color: var(--white20);
    text-decoration: none;
}

/* Variants of project */
.variant-content {
    /* background-color: red;  */
}
.variant-title {
    margin-block-end: 16px;
    color: var(--white10);
    font-size: 14px;
}
header .variant-list a {
    display: block;
    line-height: 40px;
    font-weight: 500;  
}
header .variant-list a:hover {
    background-color: #000000;
    color: var(--white10);
}

/* Content */
.content {
    /* background-color: #FEC62E; */
}
header .content-list a:hover {
    color: var(--white10);
}
.content-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--white10);
}
details {
}
.content-subtitle {
    line-height: 24px;
    font-weight: 700;
}
.content-list li{
    color: var(--white20);
    margin-block-start: 16px;
}
.content-list li:hover{
    color: var(--white10);
}

/* Main */
.main-container {
}
.main-wrapper {
    max-inline-size: 636px;
    margin-inline: auto;
    margin-block: 0px;
}
.main-content {
    padding-inline: 20px;
    padding-block: 0.1px;

}
/* Blog introduction */
.blog-title {
    font-size: 60px;
    margin-block-start: 40px;
    margin-block-end: 16px;
}
.blog-description {
    margin-block-start: 16px;
    font-size: 16px;
}
.blog-subtitle {
    margin-block-end: 40px;
}

/* Sections */
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    position: relative;
}
.section-content h3::before {
    content: counter(titleList) ". ";    
}

/* Setup */
/* .setup-img {
} */
.setup-title {
    margin-block-start: 16px;
    margin-block-end: 16px;
}
.setup-description {
    margin-block-start: 16px;
    margin-block-end: 40px;
}
#github + p {
    margin-block-end: 0px;
}
/* .setup-description:last-of-type {
}  */
blockquote {
    background-color: var(--gray10);
    margin-block-start: 32px;
    margin-block-end: 63px;
    margin-inline: 0px;
    padding: 24px;;
    max-inline-size: 596px;
    box-sizing: border-box;
}
.blockquote-content {
    color: var(--white10);
    font-size: 24px;
    line-height: 32px;
    margin-block-start: 0px;
    margin-block-end: 16px;
}
.blockquote-author {
    color: var(--white10);
    font-size: 24px;
    line-height: 32px;
    margin-block-start: 16px;
    margin-block-end: 0px;
}
.blockquote-author::before {
    content: '—';
}

/* Terminology */
.terminology-title {
    margin-block-start: 40px;
    margin-block-end: 16px;
}
.terminology-description {
    margin-block-start: 16px;
    margin-block-end: 16px;
}
.terminology-img {
    margin-block-start: 16px;
    margin-block-end: 16px;
    max-inline-size: 596px;
}
pre {
    background-color: var(--gray10);
    color: var(--white10);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    padding: 40px;
    border-radius: 8px;
    max-inline-size: 596px;
    box-sizing: border-box;
    overflow: auto;
}

/* Box Model */
/* #box-model {
    margin-block-start: 220px ;
} */
.box-model-headline {
    font-size: 24px;
    font-weight: 400;
}

h3.box-model-headline {
    counter-reset: titleList;
}
h3.box-model-headline {
    counter-increment: titleList;
    position: relative;
}
h3.box-model-headline::before {
    content:none;    
}

.box-model-title {
    margin-block-start: 40px;
    margin-block-end: 16px;
}
.box-model-description {
    margin-block-start: 16px;
    margin-block-end: 16px;
}
.box-model-composition {
    line-height: 24px;
    color: var(--white20);
}
.box-model-properties li{
    color: var(--white20);
}
.box-model-img {
    max-inline-size: 596px;
}

.text-email-address {
    color: var(--white20);
}
.email-address {
    color: var(--blue10);
}

/* Footer */
.footer-text {
    background-color: var(--white10);
    color: var(--gray30);
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
}
