* {
    /* margin:0px; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
}

:root {
    /* Variables del Proyecto */

    /* Color */
    --blue20:#232946;
    --blue10: #B8C1EC;

    --black20: #42424233;

    --rose20: #D4939D;
    --rose10: #EEBBC3;

    --white20: #FFFFFF;
    --white10: #FFFFFE;
}

html {
    scroll-behavior: smooth;
}
body {
    color: var(--white10);
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: var(--blue20);
}

/* Global */
h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    font-weight: 600;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: var(--blue10);
}
hr {
    margin: 40px 0px;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

/* Header */
.header-container {
    color: var(--white10);
}
.header-wrapper {
    max-width: 636px;
    margin: auto;
}
.header-content{
    padding: 0px 20px;
}

/* General content */
header {
    font-size: 14px;
    color: var(--white10);
}
header a {
    color: var(--blue10);
    text-decoration: none;
}

/* Variants of project */
.variant-content {
}
.variant-title {
    margin-top: 40px;
    margin-bottom: 16px;
    color: var(--white10);
    font-size: 14px;
}
header .variant-list a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding-left: 8px;
    font-weight: 500;
    
}
header .variant-list a:hover {
    background-color: #000000;
    color: var(--white20);
}

/* Content */
.content {
    position: sticky;
    top: 0;
}
header .content-list a {
    display: block;
}
header .content-list a:hover {
    color: var(--white10);
}
.content-title {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white10);
}
details {
    margin-bottom: 24px;
}
.content-subtitle {
    margin-bottom: 16px;
    line-height: 24px;
    font-weight: 700;
}
.content-list li{
    margin-bottom: 16px;
    color: var(--blue10);
}
.content-list li:hover{
    color: var(--white20);
}

/* Main */
.main-container {
}
.main-wrapper {
    max-width: 636px;
    margin: auto;
}
.main-content {
    padding: 0px 20px;
}

/* Blog introduction */
.blog-title {
    font-size: 40px;
    margin-top: 64px;
    margin-bottom: 16px;
}
.blog-description {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
}
.blog-subtitle {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Sections */
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    position: relative;
    /* position: sticky; */
    /* top: 0; */
}
.section-content h3::before {
    content: counter(titleList) ". ";    
}

/* Setup */
/* .setup-img {
    margin-top: 40px;
    margin-bottom: 16px;
} */
.setup-img {
    width: 48px;
}
.setup-title {
    margin-top: 16px;
    margin-bottom: 24px;;
}
.setup-description {
    margin-top: 16px;
    margin-bottom: 40px;
}
/* #github > p {
    margin-bottom: 0px;
} */
/* .setup-description:last-of-type {
    margin-bottom: 0px; 
}  */
blockquote {
    margin: 58px 0px 64px 0px;
    padding: 24px;
    border-radius: 8px;
    background-color: #D4939D;
    max-width: 596px;
    box-sizing: border-box;
}
.blockquote-content {
    color: var(--blue20);
    font-size: 21px;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.blockquote-author {
    color: var(--blue20);
    font-size: 21px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.blockquote-author::before {
    content: '—';
}

/* Terminology */
.terminology-title {
    margin-top: 40px;
    margin-bottom: 24px;
}
.terminology-description {
    margin-top: 16px;;
    margin-bottom: 16px;
}
.terminology-img {
    width: 100%;
    max-width: 636px;
}
pre {
    background-color: var(--blue20);
    color: var(--white10);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0px;
    padding: 20px;
    border-radius: 8px;
    max-width: 596px;
    box-sizing: border-box;
    overflow: auto;
}

/* Box Model */
/* #box-model {
    margin-top: 220px ;
} */
.box-model-headline {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 24px;
}
h3.box-model-headline {
    counter-reset: titleList;
}
h3.box-model-headline {
    counter-increment: titleList;
    position: relative;
}
h3.box-model-headline::before {
    content:none;    
}
.box-model-title {
    margin-top: 40px;
    margin-bottom: 24px;
}
.box-model-description {
    margin-top: 16px;
    margin-bottom: 16px;
}
.box-model-composition {
    line-height: 24px;
    color: var(--blue10);
}
.box-model-properties li{
    margin-bottom: 16px;
    color: var(--blue10);
}
.box-model-properties li::marker{
    color: var(--white10);
}

/* Slider in box-model*/
.slider {
    /* border: 1px solid red; */
}
.slider-container {
    display: block;
    white-space: nowrap;
    /* overflow: auto; */
    overflow: hidden;
    font-size: 0px;
    scroll-behavior: smooth;
}
.slider-slide {
    /* display: inline-block; */
    /* width: 100%; */
}
.slider-slide iframe {
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-container {
    text-align: center;
    margin-top: 10px;
}
.slider-bullet {
    background-color: var(--black20);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slider-bullet:active {
    background-color: var(--white10);
}

/*Questions to email*/
.text-email-address {
    color: var(--white10);
}
.email-address {
    color: var(--rose10);
}

/* Form */
.newsletter-form input {
    background-color: var(--blue20);
    color: var(--rose10);
    width: 100%;
    border: 1px solid var(--white10);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 16px;;
    margin-bottom: 24px;
    font-size: 16px;
}
.newsletter-form ::-webkit-input-placeholder {
    color: var(--white10);
}
.newsletter-form input[type="submit"] {
    color: var(--blue20);
    background-color: var(--rose10);
    border: none;
    font-weight: 700;
}

/* Footer */
footer {
    background-color: var(--rose10);
    margin-top: 56px;
}
.footer-text {
    color: var(--blue20);
    font-size: 24px;
    font-weight: 400;
    /* line-height: 38px; */
    padding: 48px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    margin-bottom: 19px;
}

.social-network-wrapper {
    margin-top: 19px;
}
.social-network-content {
    text-align: center;
    padding: 0px 0px 44px 0px; /*4 de a*/
}
.social-network-item {
    display: inline-block;
    text-decoration: none;
}
.social-network-item .iconify {
    width: 18px;
    height: 18px;
    padding: 0px 9px;
}

@media screen and (min-width: 1200px) {
    /* Global */
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 17px;
    }
    /* Header */
    .header-container {
        position: sticky;
        top: 64px;
        /* width: 30%; */
    }
    .header-wrapper {
        max-width: 208px;
        margin: auto;
        position: relative;
    }
    .header-content{
        padding: 0px 20px;
        width: 208px;
        position: absolute;
        top: 0;
        left: -465px; /*(208*2 = 416 + 24: margin + 15: random calculation)*/  /**/
    }

    /* Variants of project */
    .variant-title {
        margin-top: 14px;
    }

    /* Content */
    .content-title {
        margin-top: 64px;
    }

    /* Blog introduction */
    .blog-title {
        font-size: 64px; 
    }
    .blog-subtitle {
        margin-bottom: 40px;
    }

    /* Setup */
    .setup-img {
        width: initial;
    }
    .blockquote-content {
        font-size: 24px;
    }
    .blockquote-author {
        font-size: 24px;
    }

    /* Terminology */
    pre {
        font-size: 16px;
        padding: 40px;
        max-width: 596px;
    }

    /* Footer */
    .footer-text {
        font-size: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    /* Global */
    h1 {
        font-size: 56px;  
        /*64 40 32 17 8*8 5 4 17/8*/
    }
    h2 {
        font-size: 35px; 
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }

    /* Variants of project */
    header .variant-list a:hover {
        max-width: 289px;
    }
    
    /* Blog introduction */
    .blog-title {
        font-size: 56px; 
    }
    .blog-subtitle {
        font-size: 35px;
    }
    
    /* Setup */
    .setup-img {
        width: 64px;
    }
    .blockquote-content {
        font-size: 22px;
    }
    .blockquote-author {
        font-size: 22px;
    }
    /* Terminology */
    pre {
        font-size: 16px;
        padding: 30px;
        max-width: 596px;
    }
}





