* {
    /* margin:0px; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
}

:root {
    /* Variables del Proyecto */

    /* Color */
    --black30: #000000;
    --black20: #00000080;
    --black10: #00000033;

    --gray20: #545454;
    --gray10: #616161;

    --blue20: #5551FF;
    --blue10: #ABAAF6;

    --purple20: #8E2DE2;
    --purple10: #8E2DE280;

    --white10: #FFFFFF;
}
html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray40);
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}

/* Global */
h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--black30);
}
h2 {
    font-size: 27px;
    font-weight: 400;
    color: var(--black30);
}
h3 {
    font-size: 21px;
    font-weight: 400;
    color: var(--black30);
}
p {
    font-size: 16px;
    line-height: 24px;
    color: var(--gray20);
}
hr {
    margin: 40px 0px;
    border: 1px solid #61616133;
}

/* Hero (decoration) */
div.hero {
    background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url(../assets/images/pattern-two.svg);
    /* background-repeat: repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    height: 105px;
    width: 100%;
}

/* Header */
.header-container {
    color: var(--gray10);
}
.header-wrapper {
    max-width: 902px;
    margin: auto;
}
.header-content{
    padding: 0px 20px;
}

/* Content */
header {
    font-size: 14px;
    color: var(--gray10);
}
header a {
    color: var(--gray10);
    text-decoration: none;
}

/* Variants of project */
.variant-content {
    color: var(--gray10);
    /* position: relative; */
    /* top: 0; */
}
.variant-title {
    margin-top: 40px;
    margin-bottom: 16px;
}
header .variant-list a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding-left: 8px;
    font-weight: 500;
    
}
header .variant-list a:hover {
    background-color: var(--black30);
    color: var(--white10);

}

/* Content */
.content {
    position: sticky;
    top: 0;
    color: var(--black30);
}
.content-list {
    counter-reset: numberList;
}
header .content-list a {
    color: var(--black30);
    display: block;
    padding: 8px;

    counter-increment: numberList;
}
header .content-list a:hover {
    color: var(--white10);
    background-color: var(--blue20);
    border-radius: 4px;
}
header .content-list a::before {
    content: counter(numberList) ". ";
}
.content-title {
    margin-top: 25px;
    margin-bottom: 16px;
}
details {
    margin-bottom: 24px;
}
.content-subtitle {
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 24px;
}

/* Main */
.main-container {
    /* right: 116px; */
    /* width: 70%; */
}
.main-wrapper {
    max-width: 902px;
    margin: auto;

    padding: 0px 20px;
}
.main-content {
    /* padding: 0px 20px; */
    text-align: center;
}

/* Blog introduction */
.blog-title {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 16px;
}
.blog-description {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
}
.blog-subtitle {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 27px;
}

/* Sections */
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    position: relative;
    margin-bottom: 16px;
    /* position: sticky; */
    /* top: 0; */
}
.section-content h3::before {
    content: counter(titleList) ". ";    
}

/* Setup */
/* .setup-img {
    margin-top: 40px;
    margin-bottom: 16px;
} */
.setup-img {
    width: 48px;
}
.setup-title {
    margin-top: 16px;
    margin-bottom: 24px;;
}
.setup-description {
    margin-top: 16px;
    margin-bottom: 40px;
}
.setup-description span {
    color: var(--blue20);
}
#github + p {
    margin-bottom: 0px;
}
/* .setup-description:last-of-type {
    margin-bottom: 0px;
}  */
blockquote {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    border-left: 4px solid var(--blue20);
    text-align: left;
    max-width: 633px;
}
.blockquote-content {
    color: var(--black30);
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.blockquote-author {
    color: var(--black30);
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
}
.blockquote-author::before {
    content: '—';
}

/* Terminology */
.terminology-title {
    margin-top: 40px;
    margin-bottom: 24px;
}
.terminology-description {
    margin-top: 16px;;
    margin-bottom: 16px;
}
.terminology-img {
    width: 100%;
    max-width: 902px;
}
pre {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    background-color: var(--white10);
    color: #000000;
    padding: 40px;
    max-width: 902px;
    font-size: 16px;
    margin: 0px;;
    overflow: auto;
    border: 8px solid var(--blue20);
    border-radius: 8px;
    box-shadow: -10px 10px 0px var(--blue10);

}

/* Box Model */
/* #box-model {
    margin-top: 220px ;
} */
.box-model-content {
    text-align: left;
}
.box-model-headline {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 24px;
}
h3.box-model-headline {
    counter-reset: titleList;
}
h3.box-model-headline {
    counter-increment: titleList;
    position: relative;
}
h3.box-model-headline::before {
    content:none;    
}
.box-model-title {
    margin-top: 40px;
    margin-bottom: 24px;;
}
.box-model-description {
    margin-top: 16px;
    margin-bottom: 16px;
}
.box-model-composition {
    line-height: 24px;
}
.box-model-properties li{
    margin-bottom: 16px;
}
.box-model-properties li::marker{
    color: var(--blue20);
}
.box-model-img {
    width: 100%;
    max-width: 902px;
}

/* Slider in box-model*/
.slider-title {
    text-align: left;
}
.slider {
    /* border: 1px solid red; */
}
.slider-container {
    display: block;
    white-space: nowrap;
    /* overflow: auto; */
    overflow: hidden;
    font-size: 0px;
    scroll-behavior: smooth;
}
.slider-slide {
    /* display: inline-block; */
    /* width: 100%; */
}
.slider-slide iframe {
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-container {
    text-align: center;
    margin-top: 10px;
}
.slider-bullet {
    background-color: var(--purple10);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slider-bullet:active {
    background-color: var(--blue20);
}

/*Questions to email*/
.text-email-address {
    color: var(--black30);
    text-align: left;
}
.email-address {
    color: var(--gray20);
}

/* Form */
.newsletter-form-title {
    text-align: left;
}
.newsletter-form {
    text-align: left;
    position: relative;
}
.newsletter-form input {
    background-color: var(--white10);
    color: var(--black30);
    width: 100%;
    border: 1px solid var(--black30);
    border-radius: 90px;
    box-sizing: border-box;
    padding: 12px 16px;;
    margin-bottom: 24px;
    font-size: 16px;
}
.newsletter-form ::-webkit-input-placeholder {
    color: var(--black20);
}
.newsletter-form input[type="submit"] {
    color: var(--white10);
    background-color: var(--blue20);
    border: 1px solid var(--blue20);
    font-weight: 500;
    width: 120px;
    position: absolute;
    right: 0px;
}

/* Footer */
footer {
    background-color: var(--black30);
    margin-top: 56px;
}
.footer-text {
    color: var(--white10);
    font-size: 24px;
    font-weight: 400;
    /* line-height: 38px; */
    padding: 48px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    margin-bottom: 19px;
}

.social-network-wrapper {
    margin-top: 19px;
}
.social-network-content {
    text-align: center;
    padding: 0px 0px 44px 0px; /*4 de a*/
}
.social-network-item {
    display: inline-block;
    text-decoration: none;
}
.social-network-item .iconify {
    width: 18px;
    height: 18px;
    padding: 0px 9px;
}

@media screen and (min-width: 1200px) {
    /* Global */
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    hr {
        margin: 40px 0px;
        border: 1px solid var(--black10);
    }

    /* Hero (decoration) */
    div.hero {
        height: 350px;
    }
    
    /* Header */
    .header-container {
        position: sticky;
        top: 0px;
    }
    .header-wrapper {
        max-width: 208px;
        position: relative;
    }
    .header-content{
        width: 208px;
        position: absolute;
        top: 0;
        left: 566px; /*(232 + 42 + 282: random + 10:visual appearance calculation)*/
    }

    /* Variants of project */
    .variant-title {
        margin-top: 64px;
    }

    /* Content */
    .content-title {
        margin-top: 64px;
    }

    /* Blog introduction */
    .blog-title {
        font-size: 60px; 
        margin-top: 64px;
    }
    .blog-description {
        margin-bottom: 64px;
    }
    .blog-subtitle {
        font-size: 32px;
        margin-top: 64px;
    }

    /* Setup */
    .setup-img {
        width: initial;
    }

    /* Form */
    .newsletter-form {
        width: 70%;
    }
    .newsletter-form input {
        margin-right: 8px;
    }
    .newsletter-form input[type="text"] {
        width: 40%;
    }
    .newsletter-form input[type="email"] {
        width: 45%;
    }
    .newsletter-form input[type="submit"] {
        width: 20%;
        margin-right: 0px;
    }

    /* Footer */
    .footer-text {
        font-size: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
   /* Global */
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    hr {
        margin: 40px 0px;
    }

    /* Hero (decoration) */
    div.hero {
        height: 210px;
    }

    /* Variants of project */
    header .variant-list a:hover {
        max-width: 289px;
    }
    /* Content */
    header .content-list a:hover {
        max-width: 289px;
    }

    /* Blog introduction */
    .blog-title {
        font-size: 50px; 
    }
    .blog-subtitle {
        font-size: 30px;
    }

    /* Setup */
    .setup-img {
        width: 64px;
    }

    /* Form */
    .newsletter-form {
        width: 70%;
    }
    .newsletter-form input {
        margin-right: 8px;
    }
    .newsletter-form input[type="text"] {
        width: 40%;
    }
    .newsletter-form input[type="email"] {
        width: 45%;
    }
    .newsletter-form input[type="submit"] {
        width: 120px;
        margin-right: 0px;
    }
}







